
h1 {
	font-family: 'Rouge Script', cursive;
	font-size: 49px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 53.9px;
}
h3 {
	font-family: 'Rouge Script', cursive;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p {
	font-family: 'Rouge Script', cursive;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: 'Rouge Script', cursive;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: 'Rouge Script', cursive;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}

.myclass { 
	font-family: 'Rouge Script', cursive;
}
