body {
    background-color: rgb(255,255,255);background-color: rgba(255,255,255,1);}
.layout-box #header-inner-wrap, 
#header-inner-wrap,
body.header-transparent #header #header-inner-wrap.no-transparent,
.left-header .sb-slidebar.sb-left
{
    background: url(../upload/bg-menu.jpg) repeat;}
#mobile-menu, 
#mobile-menu ul {
    background-color: rgb(34,34,34);background-color: rgba(34,34,34,1);}

body.header-transparent #header-inner-wrap{
  background: transparent;
}
#header .header-border{
 border-bottom: 1px solid #e0e0e0;
}
#header-top-bar{
    background-color: rgb(50,50,50);background-color: rgba(50,50,50,0.85);    border-bottom: 1px solid #323232;
    color: #ffffff;
}
#header-top-bar #topbar-menu li a{
    color: #ffffff;
}
#header-bottom-bar{
    background-color: rgb(255,255,255);background-color: rgba(255,255,255,0.00);    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}
body.header-transparent #header #header-inner-wrap {
	-webkit-transition: background .25s ease, box-shadow .25s ease;
	-moz-transition: background .25s ease, box-shadow .25s ease;
	-o-transition: background .25s ease, box-shadow .25s ease;
	transition: background .25s ease, box-shadow .25s ease;
}
body.header-transparent.semi .layout-wide #header  .semi-transparent ,
body.header-transparent.semi .layout-border #header  .semi-transparent {
  background-color: rgb(0,0,0);background-color: rgba(0,0,0,0.41);  !important ;
}
body.header-transparent.semi .layout-box #header  .semi-transparent #header-wrap{
  background-color: rgb(0,0,0);background-color: rgba(0,0,0,0.41);  !important ;  
}
#content,
#blog-content {
    background-color: rgb(255,255,255);background-color: rgba(255,255,255,1);}
#bottom-widgets {
    background-color: rgb(68,68,68);background-color: rgba(68,68,68,1);}
#footer {
  background-color: rgb(34,34,34);background-color: rgba(34,34,34,1);}
#footer .footer-border{
  border-bottom: 0 none ;
}
.page-title-module-custom {
	background-color: rgb(255,255,255);background-color: rgba(255,255,255,1);}
#navigation .sub-menu,
#navigation .children,
#navigation-left-side .sub-menu,
#navigation-left-side .children,
#navigation-right-side .sub-menu,
#navigation-right-side .children {
  background-color: rgb(31,31,31);background-color: rgba(31,31,31,1);}
.sb-slidebar.sb-right {
  background-color: rgb(58,58,58);background-color: rgba(58,58,58,0.88);}
.left-header .left-strip-wrapper,
.left-header #left-header-mobile {
  background-color : #ffffff ;
}
.layout-box-top,
.layout-box-bottom,
.layout-box-right,
.layout-box-left,
.layout-border-header-top #header-inner-wrap,
.layout-border-header-top.layout-box #header-inner-wrap, 
body.header-transparent .layout-border-header-top #header #header-inner-wrap.no-transparent {
  background-color: rgb(211,211,211);background-color: rgba(211,211,211,1);}

.left-header.left-sliding.left-overlay-menu .sb-slidebar{
  background-color: rgb(8,8,8);background-color: rgba(8,8,8,0.95);  
}
.top-header.top-overlay-menu .sb-slidebar{
  background-color: rgb(58,58,58);background-color: rgba(58,58,58,0.88);}
.search-box-wrapper{
  background-color: rgb(255,255,255);background-color: rgba(255,255,255,0.85);}
.search-box-wrapper.style1-header-search-widget input[type="text"]{
  background-color: transparent !important;
  color: #000000;
  border: 1px solid  #000000;
}
.search-box-wrapper.style2-header-search-widget input[type="text"]{
  background-color: transparent !important;
  font-style: italic;
  font-weight: 400;
  font-family: Crimson Text;
  color: #000000;
  border: none !important;
  box-shadow: none !important;
}
.search-box-wrapper .searchform .search-icon{
  color: #000000;
}
#header-top-bar-right .search-box-wrapper.style1-header-search-widget input[type="text"]{
  border: none; 
}

/* ======================
    Typography
   ====================== */
body,
.special-heading-wrap .caption-wrap .body-font {
    font:  400 15px "Lora","Open Sans","Arial",sans-serif; 
  color: #5f6263;
  line-height: 30px;
  letter-spacing: 0px;
  text-transform: none;    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
}
h1 {
	font:  400 80px "Kaushan Script","Open Sans","Arial",sans-serif; 
  color: #222222;
  line-height: 105px;
  letter-spacing: 3px;
  text-transform: none;}
h2 {
	font: italic 400 42px "Lora","Open Sans","Arial",sans-serif; 
  color: #222222;
  line-height: 63px;
  letter-spacing: 0px;
  text-transform: none;}
h3 {
  font:  400 35px "Lora","Open Sans","Arial",sans-serif; 
  color: #222222;
  line-height: 52px;
  letter-spacing: 0px;
  text-transform: none;}
h4 {
  font:  400 26px "Lora","Open Sans","Arial",sans-serif; 
  color: #222222;
  line-height: 42px;
  letter-spacing: 0px;
  text-transform: none;}
h5, #reply-title {
  font:  400 20px "Lora","Open Sans","Arial",sans-serif; 
  color: #222222;
  line-height: 36px;
  letter-spacing: 0px;
  text-transform: none;}
h6,
.testimonial-author-role.h6-font,
.menu-card-title {
  font:  400 15px "Montserrat","Open Sans","Arial",sans-serif; 
  color: #222222;
  line-height: 32px;
  letter-spacing: 0px;
  text-transform: uppercase;}
.menu-card-item-price {
  font:  400 15px "Montserrat","Open Sans","Arial",sans-serif; 
  color: #222222;
  line-height: 32px;
  letter-spacing: 0px;
  text-transform: lowercase;}
.gallery-side-heading {
  font-size: 15px;
}
.special-subtitle , 
.style1.thumb-title-wrap .portfolio-item-cats {
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
  font-family: Crimson Text;
  text-transform: none;
  letter-spacing: 0px;
}
.top-right-sliding-menu .sb-right ul#slidebar-menu li,
.overlay-menu-close {
  font:  400 11px "Lora","Open Sans","Arial",sans-serif; 
  color: #888888;
  line-height: 60px;
  letter-spacing: 1px;
  text-transform: uppercase;}
.top-right-sliding-menu .sb-right ul#slidebar-menu li a{
  color: #888888 !important;
}
.top-right-sliding-menu .sb-right #slidebar-menu ul.sub-menu li{
  font:  400 12px "Lora","Open Sans","Arial",sans-serif; 
  color: #888888;
  line-height: 25px;
  letter-spacing: ;
  text-transform: none;}
.top-right-sliding-menu .sb-right ul#slidebar-menu li a{
  color: #888888 !important;
}
.sb-right #slidebar-menu .mega .sub-menu .highlight .sf-with-ul{
 font:  400 11px "Lora","Open Sans","Arial",sans-serif; 
  color: #888888;
  line-height: 60px;
  letter-spacing: 1px;
  text-transform: uppercase;;
 color: #888888 !important;
}
.post-meta.post-top-meta-typo{
  font:   12px "Raleway","Open Sans","Arial",sans-serif; 
  color: #757575;
  line-height: 24px;
  letter-spacing: 0px;
  text-transform: uppercase;;
}

#navigation,
.style2 #navigation,
#navigation-left-side,
#navigation-right-side,
.header-cart-controls .cart-contents,
.sb-left  #slidebar-menu,
#header-controls-right,
#header-controls-left,
body #header-inner-wrap.top-animate.style2 #navigation,
.top-overlay-menu .sb-right  #slidebar-menu {
    font:   11px "Montserrat","Open Sans","Arial",sans-serif; 
  color: #999999;
  line-height: 51px;
  letter-spacing: 1px;
  text-transform: uppercase;}
ul#mobile-menu a {
    font:  400 11px "Montserrat","Open Sans","Arial",sans-serif; 
  color: #888888;
  line-height: 40px;
  letter-spacing: 1px;
  text-transform: uppercase;}
ul#mobile-menu ul.sub-menu a{
    font:  400 12px "Raleway","Open Sans","Arial",sans-serif; 
  color: #888888;
  line-height: 27px;
  letter-spacing: 0px;
  text-transform: none; 
}

#navigation .sub-menu,
#navigation .children,
#navigation-left-side .sub-menu,
#navigation-left-side .children,
#navigation-right-side .sub-menu,
#navigation-right-side .children,
.sb-left  #slidebar-menu .sub-menu,
.top-overlay-menu .sb-right  #slidebar-menu .sub-menu{
  font:  400 12px "Lora","Open Sans","Arial",sans-serif; 
  color: #bbbbbb;
  line-height: 28px;
  letter-spacing: ;
  text-transform: none;}
.thumb-title-wrap {
  color: #ffffff;
}
.thumb-title-wrap .thumb-title{
  font:  400 14px "Montserrat","Open Sans","Arial",sans-serif; 
  color: ;
  line-height: 30px;
  letter-spacing: 0px;
  text-transform: uppercase;}
.thumb-title-wrap .portfolio-item-cats {
  font-size: 13px;
  line-height: 17px;
  text-transform: none;
  letter-spacing: 0px;
}
.full-screen-portfolio-overlay-title {
    font:  400 14px "Montserrat","Open Sans","Arial",sans-serif; 
  color: ;
  line-height: 30px;
  letter-spacing: 0px;
  text-transform: uppercase;}
#footer {
    font:  400 13px "Lora","Open Sans","Arial",sans-serif; 
  color: #888888;
  line-height: 14px;
  letter-spacing: 0px;
  text-transform: none;}
#bottom-widgets h6 {
    font:  400 12px "Montserrat","Open Sans","Arial",sans-serif; 
  color: #dfdfdf;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;    margin-bottom:20px;
}
#bottom-widgets {
    font:  400 14px "Lora","Open Sans","Arial",sans-serif; 
  color: #a2a2a2;
  line-height: 24px;
  letter-spacing: 0px;
  text-transform: none;}
.sidebar-widgets h6 {
   font:  400 12px "Montserrat","Open Sans","Arial",sans-serif; 
  color: #333333;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;   margin-bottom:20px;
}
.sidebar-widgets {
	font:  400 14px "Lora","Open Sans","Arial",sans-serif; 
  color: #606060;
  line-height: 24px;
  letter-spacing: 0px;
  text-transform: none;}

.sb-slidebar .widget {
  font:  400 14px "Lora","Open Sans","Arial",sans-serif; 
  color: #a2a2a2;
  line-height: 25px;
  letter-spacing: 0px;
  text-transform: none;}
.sb-slidebar .widget h6 {
  font:  400 12px "Montserrat","Open Sans","Arial",sans-serif; 
  color: #ffffff;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: none;}
.woocommerce ul.products li.product .product-meta-data h3, 
.woocommerce-page ul.products li.product .product-meta-data h3,
.woocommerce ul.products li.product h3, 
.woocommerce-page ul.products li.product h3 {
  font:  700 18px "Lato","Open Sans","Arial",sans-serif; 
  color: #222222;
  line-height: 27px;
  letter-spacing: 0px;
  text-transform: none;}

.related.products h2,
.upsells.products h2,
.cart-collaterals .cross-sells h2,
.cart_totals h2, 
.shipping_calculator h2,
.woocommerce-billing-fields h3,
.woocommerce-shipping-fields h3,
.shipping_calculator h2,
#order_review_heading,
.woocommerce .page-title {
  font-family: Lato;
  font-weight: 700;
}
.woocommerce-page.single.single-product #content div.product h1.product_title.entry-title {
  font:  700 18px "Lato","Open Sans","Arial",sans-serif; 
  color: #222222;
  line-height: 27px;
  letter-spacing: 0px;
  text-transform: none;}

.woocommerce form .form-row label, .woocommerce-page form .form-row label {
  color: #222222;
}


.contact_form_module input[type="text"], 
.contact_form_module textarea {
  font:  400 13px "Open Sans","Open Sans","Arial",sans-serif; 
  color: #222222;
  line-height: 26px;
  letter-spacing: 0px;
  text-transform: none;}
#bottom-widgets .widget ul li a, #bottom-widgets a {
	color: inherit;
}
a, a:visited, a:hover,
#bottom-widgets .widget ul li a:hover, 
#bottom-widgets a:hover,
#navigation .current_page_item a,
#navigation .current_page_item a:hover,
#navigation a:hover,
#navigation-left-side .current_page_item a,
#navigation-left-side .current_page_item a:hover,
#navigation-left-side a:hover,
#navigation-right-side .current_page_item a,
#navigation-right-side .current_page_item a:hover,
#navigation-right-side a:hover {
	color: #a58f60;
}
#navigation .current_page_item ul li a,
#navigation-left-side .current_page_item ul li a,
#navigation-right-side .current_page_item ul li a {
  color: inherit;
}

.current-menu-item a {
  color: #a58f60;
}
.sb-left #slidebar-menu a:hover,
.sb-left #slidebar-menu .current-menu-item a {
  color: #a58f60 !important;
}

.page-title-module-custom .page-title-custom,
h6.portfolio-title-nav{
  font:  400 25px "Kaushan Script","Open Sans","Arial",sans-serif; 
  color: #000000;
  line-height: 36px;
  letter-spacing: ;
  text-transform: none;}
#portfolio-title-nav-wrap .portfolio-nav a {
 color:   #444444; 
}
#portfolio-title-nav-wrap .portfolio-nav a:hover {
 color:   #000000; 
}

.breadcrumbs {
  color: #000000;
}
.page-title-module-custom .header-breadcrumb {
  line-height: 36px;
}

#portfolio-title-nav-wrap{
  background-color: #f5f5f5;
}
a.custom-share-button, a.custom-share-button:active, a.custom-share-button:hover, a.custom-share-button:visited{
  color: #222222 !important; 
}
.be-button,
.woocommerce a.button, .woocommerce-page a.button, 
.woocommerce button.button, .woocommerce-page button.button, 
.woocommerce input.button, .woocommerce-page input.button, 
.woocommerce #respond input#submit, .woocommerce-page #respond input#submit,
.woocommerce #content input.button, .woocommerce-page #content input.button,
input[type="submit"],
.more-link.style2-button,
.more-link.style3-button,
input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button  {
	font-family: Montserrat;
  font-weight: 400;
}

.more-link.style2-button {
  color: #000000 !important;
  border-color: #000000 !important;
}

.woocommerce a.button, .woocommerce-page a.button, 
.woocommerce button.button, .woocommerce-page button.button, 
.woocommerce input.button, .woocommerce-page input.button, 
.woocommerce #respond input#submit, .woocommerce-page #respond input#submit,
.woocommerce #content input.button, .woocommerce-page #content input.button {
  background: transparent !important;
  color: #000 !important;
  border-color: #000 !important;
  border-style: solid !important;
  border-width: 2px !important;
  background:  !important;
  color:  !important;
  border-width: px !important;
  border-color:  !important;
  line-height: 41px;
  text-transform: uppercase;
}
.woocommerce a.button:hover, .woocommerce-page a.button:hover, 
.woocommerce button.button:hover, .woocommerce-page button.button:hover, 
.woocommerce input.button:hover, .woocommerce-page input.button:hover, 
.woocommerce #respond input#submit:hover, .woocommerce-page #respond input#submit:hover,
.woocommerce #content input.button:hover, .woocommerce-page #content input.button:hover {
  background: #e0a240 !important;
  color: #fff !important;
  border-color: #e0a240 !important;
  border-width: 2px !important;
  background:  !important;
  color:  !important;
  border-color:  !important;

}
.woocommerce a.button.alt, .woocommerce-page a.button.alt, 
.woocommerce .button.alt, .woocommerce-page .button.alt, 
.woocommerce input.button.alt, .woocommerce-page input.button.alt,
.woocommerce input[type="submit"].alt, .woocommerce-page input[type="submit"].alt, 
.woocommerce #respond input#submit.alt, .woocommerce-page #respond input#submit.alt,
.woocommerce #content input.button.alt, .woocommerce-page #content input.button.alt {
  background: #e0a240 !important;
  color: #fff !important;
  border-color: #e0a240 !important;
  border-style: solid !important;
  border-width: 2px !important;
  background:  !important;
  color:  !important;
  border-width: px !important;
  border-color:  !important;
  line-height: 41px;
  text-transform: uppercase;
}
.woocommerce a.button.alt:hover, .woocommerce-page a.button.alt:hover, 
.woocommerce .button.alt:hover, .woocommerce-page .button.alt:hover, 
.woocommerce input[type="submit"].alt:hover, .woocommerce-page input[type="submit"].alt:hover, 
.woocommerce input.button.alt:hover, .woocommerce-page input.button.alt:hover, 
.woocommerce #respond input#submit.alt:hover, .woocommerce-page #respond input#submit.alt:hover,
.woocommerce #content input.button.alt:hover, .woocommerce-page #content input.button.alt:hover {
  background: transparent !important;
  color: #000 !important;
  border-color: #000 !important;
  border-style: solid !important;
  border-width: 2px !important;
  background:  !important;
  color:  !important;
  border-color:  !important;
}
.post-title ,
.post-date-wrap {
  font:  400 25px "Lora","Open Sans","Arial",sans-serif; 
  color: #000000;
  line-height: 40px;
  letter-spacing: 0px;
  text-transform: none;  margin-bottom: 12px;
}

.style7-blog .post-title{
  margin-bottom: 9px;
}
.style3-blog .post-title {
  font:  400 15px "Lora","Open Sans","Arial",sans-serif; 
  color: #000000;
  line-height: 28px;
  letter-spacing: 0px;
  text-transform: uppercase;}

.post-nav li{
  font: italic 400 12px "Droid Serif","Open Sans","Arial",sans-serif; 
  color: #888888;
  line-height: 18px;
  letter-spacing: ;
  text-transform: none;}

.ui-tabs-anchor, 
.accordion .accordion-head,
.skill-wrap .skill_name,
.chart-wrap span,
.animate-number-wrap h6 span,
.woocommerce-tabs .tabs li a,
.be-countdown {
    font-family: Montserrat;
    letter-spacing: 0px;
    font-style: ;
    font-weight: 400;
}

.woocommerce-tabs .tabs li a {
  color: #222222 !important;
}

.ui-tabs-anchor{
  font-size: 12px;
  line-height: 17px;
  text-transform: uppercase;
}

.accordion .accordion-head{
  font-size: 12px;
  line-height: 17px;
  text-transform: uppercase;
}

.skill-wrap .skill_name{
  font-size: 12px;
  line-height: 17px;
  text-transform: uppercase;
}

.countdown-section {
  font-size: 15px;
  line-height: 30px;
  text-transform: uppercase;
}

.countdown-amount {
  font-size: 55px;
  line-height: 95px;
  text-transform: uppercase;
}

.flexslider.tweet-slides .tweet-content{
  font-family: Droid Serif;
  letter-spacing: 0px;
  font-style: italic;
  font-weight: 400;
  text-transform: none;
}

.testimonial_slide .testimonial-content{
  font-family: Lora;
  letter-spacing: 0px;
  font-style: italic;
  font-weight: 400;
  text-transform: none;
}
#portfolio-title-nav-wrap{
  padding-top: 22px;
  padding-bottom: 22px;
  border-bottom: 1px none #e8e8e8;
}

#portfolio-title-nav-bottom-wrap h6, 
#portfolio-title-nav-bottom-wrap ul li a, 
.single_portfolio_info_close {
  background-color: rgb(0,0,0);background-color: rgba(0,0,0,1);}
#portfolio-title-nav-bottom-wrap h6, 
#portfolio-title-nav-bottom-wrap ul li a, 
.single_portfolio_info_close .font-icon{
  color:  #ffffff ;
}
#portfolio-title-nav-bottom-wrap h6:hover,
#portfolio-title-nav-bottom-wrap ul li:hover a,
.single_portfolio_info_close:hover {
  background-color: rgb(240,180,82);background-color: rgba(240,180,82,0.85);}
#portfolio-title-nav-bottom-wrap h6:hover,
#portfolio-title-nav-bottom-wrap ul li:hover a,
.single_portfolio_info_close:hover .font-icon{
  color:  #ffffff ;
}
/* ======================
    Layout 
   ====================== */


body #header-inner-wrap.top-animate #navigation, 
body #header-inner-wrap.top-animate .header-controls, 
body #header-inner-wrap.stuck #navigation, 
body #header-inner-wrap.stuck .header-controls {
	-webkit-transition: line-height 0.5s ease;
	-moz-transition: line-height 0.5s ease;
	-ms-transition: line-height 0.5s ease;
	-o-transition: line-height 0.5s ease;
	transition: line-height 0.5s ease;
}
	
.header-cart-controls .cart-contents span{
	background: #646464;
}
.header-cart-controls .cart-contents span{
	color: #f5f5f5;
}

.left-sidebar-page,
.right-sidebar-page, 
.no-sidebar-page .be-section-pad:first-child, 
.page-template-page-940-php #content , 
.no-sidebar-page #content-wrap, 
.portfolio-archives.no-sidebar-page #content-wrap {
    padding-top: 80px;
    padding-bottom: 80px;
}  
.no-sidebar-page #content-wrap.page-builder{
    padding-top: 0px;
    padding-bottom: 0px;
}
.left-sidebar-page .be-section:first-child, 
.right-sidebar-page .be-section:first-child, 
.dual-sidebar-page .be-section:first-child {
    padding-top: 0 !important;
}


.style1 .logo,
.style4 .logo,
#left-header-mobile .logo,
.style3 .logo{
  padding-top: 20px;
  padding-bottom: 25px;
}

.style5 .logo{
  margin-top: 25px;
  margin-bottom: 25px;
}
#footer-wrap {
  padding-top: 25px;  
  padding-bottom: 25px;  
}

/* ======================
    Colors 
   ====================== */


.sec-bg,
.gallery_content,
.fixed-sidebar-page .fixed-sidebar,
.style3-blog .blog-post.element .element-inner,
.style4-blog .blog-post,
.blog-post.format-link .element-inner,
.blog-post.format-quote .element-inner,
.woocommerce ul.products li.product, 
.woocommerce-page ul.products li.product,
.chosen-container.chosen-container-single .chosen-drop,
.chosen-container.chosen-container-single .chosen-single,
.chosen-container.chosen-container-active.chosen-with-drop .chosen-single {
  background: #efefef;
}
.sec-color,
.post-meta a,
.pagination a, .pagination a:visited, .pagination span, .pages_list a,
input[type="text"], input[type="email"], input[type="password"],
textarea,
.gallery_content,
.fixed-sidebar-page .fixed-sidebar,
.style3-blog .blog-post.element .element-inner,
.style4-blog .blog-post,
.blog-post.format-link .element-inner,
.blog-post.format-quote .element-inner,
.woocommerce ul.products li.product, 
.woocommerce-page ul.products li.product,
.chosen-container.chosen-container-single .chosen-drop,
.chosen-container.chosen-container-single .chosen-single,
.chosen-container.chosen-container-active.chosen-with-drop .chosen-single {
  color: #7a7a7a;
}

.woocommerce .quantity .plus, .woocommerce .quantity .minus, .woocommerce #content .quantity .plus, .woocommerce #content .quantity .minus, .woocommerce-page .quantity .plus, .woocommerce-page .quantity .minus, .woocommerce-page #content .quantity .plus, .woocommerce-page #content .quantity .minus,
.woocommerce .quantity input.qty, .woocommerce #content .quantity input.qty, .woocommerce-page .quantity input.qty, .woocommerce-page #content .quantity input.qty {
  background: #efefef; 
  color: #7a7a7a;
  border-color: #eeeeee;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li, .woocommerce #content div.product .woocommerce-tabs ul.tabs li, .woocommerce-page div.product .woocommerce-tabs ul.tabs li, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li {
  color: #7a7a7a!important;
}

.chosen-container .chosen-drop,
nav.woocommerce-pagination,
.summary.entry-summary .price,
.portfolio-details.style2 .gallery-side-heading-wrap {
  border-color: #eeeeee !important;
}

.fixed-sidebar-page #page-content{
  background: #efefef; 
}


.sec-border,
input[type="text"], input[type="email"], input[type="tel"], input[type="password"],
textarea {
  border: 2px solid #eeeeee;
}
.chosen-container.chosen-container-single .chosen-single,
.chosen-container.chosen-container-active.chosen-with-drop .chosen-single {
  border: 2px solid #eeeeee;
}

.woocommerce table.shop_attributes th, .woocommerce-page table.shop_attributes th,
.woocommerce table.shop_attributes td, .woocommerce-page table.shop_attributes td {
    border: none;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 5px;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content, .woocommerce-page .widget_price_filter .price_slider_wrapper .ui-widget-content{
    border: 1px solid #eeeeee;
}
.pricing-table .pricing-title,
.chosen-container .chosen-results li {
  border-bottom: 1px solid #eeeeee;
}
.pricing-table .pricing-feature{
  font-size: -14px;
}

.separator {
  border:0;
  height:1px;
  color: #eeeeee;
  background-color: #eeeeee;
}


.alt-color,
li.ui-tabs-active h6 a,
#navigation a:hover,
#header-top-menu a:hover,
#navigation .current-menu-item > a,
#slidebar-menu .current-menu-item > a,
a,
a:visited,
.social_media_icons a:hover,
.post-title a:hover,
.fn a:hover,
a.team_icons:hover,
.recent-post-title a:hover,
.widget_nav_menu ul li.current-menu-item a,
.widget_nav_menu ul li.current-menu-item:before,
.filters .current_choice,
.woocommerce ul.cart_list li a:hover,
.woocommerce ul.product_list_widget li a:hover,
.woocommerce-page ul.cart_list li a:hover,
.woocommerce-page ul.product_list_widget li a:hover,
.woocommerce-page .product-categories li a:hover,
.woocommerce ul.products li.product .product-meta-data h3:hover,
.woocommerce table.cart a.remove:hover, .woocommerce #content table.cart a.remove:hover, .woocommerce-page table.cart a.remove:hover, .woocommerce-page #content table.cart a.remove:hover,
td.product-name a:hover,
.woocommerce-page #content .quantity .plus:hover,
.woocommerce-page #content .quantity .minus:hover,
.post-category a:hover,
#navigation .sub-menu .current-menu-item > a,
#navigation .sub-menu a:hover,
#navigation .children .current-menu-item > a,
#navigation .children a:hover,
a.custom-like-button.liked,
#slidebar-menu .current-menu-item > a,
.menu-card-item-stared {
    color: #a58f60;
}

.content-slide-wrap .flex-control-paging li a.flex-active,
.content-slide-wrap .flex-control-paging li.flex-active a:before {
  background: #a58f60 !important;
  border-color: #a58f60 !important;
}

#navigation .mega .sub-menu .highlight .sf-with-ul{
 font:   11px "Montserrat","Open Sans","Arial",sans-serif; 
  color: #999999;
  line-height: 51px;
  letter-spacing: 1px;
  text-transform: uppercase;;
 color: #bbbbbb !important;
}
#navigation .menu > ul > li.mega > ul > li {
  border-color: #ffffff;
}

  .sb-slidebar.sb-right .menu{
    border-top: 1px solid #2d2d2d;
    border-bottom: 1px solid #2d2d2d;
}
.post-title a:hover {
    color: #a58f60 !important;
}

.alt-bg,
input[type="submit"],
.tagcloud a:hover,
.pagination a:hover,
.widget_tag_cloud a:hover,
.pagination .current {
    background-color: #a58f60;
    transition: 0.2s linear all;
}
.mejs-controls .mejs-time-rail .mejs-time-current ,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
.woocommerce span.onsale, 
.woocommerce-page span.onsale, 
.woocommerce a.add_to_cart_button.button.product_type_simple.added,
.woocommerce-page .widget_shopping_cart_content .buttons a.button:hover,
.woocommerce nav.woocommerce-pagination ul li span.current, 
.woocommerce nav.woocommerce-pagination ul li a:hover, 
.woocommerce nav.woocommerce-pagination ul li a:focus,
.testimonial-flex-slider .flex-control-paging li a.flex-active,
#back-to-top,
.be-carousel-nav,
.more-link.style3-button,
.view-project-link.style3-button {
  background: #333 !important;
}
.tagcloud a:hover,
.testimonial-flex-slider .flex-control-paging li a.flex-active,
.testimonial-flex-slider .flex-control-paging li a {
  border-color: #a58f60;
}
a.be-button.view-project-link,
.more-link {
  border-color: #a58f60; 
}


.portfolio-container .thumb-bg {
  background-color: rgba(165,143,96,0.85);
}

.photostream_overlay,
.be-button,
.more-link.style3-button,
.view-project-link.style3-button,
input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button {
	background-color: #a58f60;
}
.alt-bg-text-color,
input[type="submit"],
.tagcloud a:hover,
.pagination a:hover,
.widget_tag_cloud a:hover,
.pagination .current,
.woocommerce nav.woocommerce-pagination ul li span.current, 
.woocommerce nav.woocommerce-pagination ul li a:hover, 
.woocommerce nav.woocommerce-pagination ul li a:focus,
#back-to-top,
.be-carousel-nav,
.single_portfolio_close .font-icon, 
.single_portfolio_back .font-icon,
.more-link.style3-button,
.view-project-link.style3-button {
    color: #ffffff;
    transition: 0.2s linear all;
}

.be-button,
input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button {
	color: #ffffff;
	transition: 0.2s linear all;
}

.portfolio-title a {
    color: inherit;
}




.arrow-block .arrow_prev,
.arrow-block .arrow_next {
    background-color: rgb(0,0,0);background-color: rgba(0,0,0,1);} 

.arrow-border .arrow_prev,
.arrow-border .arrow_next {
    border: 1px solid #000000;
} 

.gallery-info-box-wrap .arrow_prev .font-icon,
.gallery-info-box-wrap .arrow_next .font-icon {
  color: #ffffff;
}

.arrow-block .arrow_prev:hover,
.arrow-block .arrow_next:hover {
  background-color: rgb(0,0,0);background-color: rgba(0,0,0,1);}

.arrow-border .arrow_prev:hover,
.arrow-border .arrow_next:hover {
    border: 1px solid #000000;
} 

.gallery-info-box-wrap .arrow_prev:hover .font-icon,
.gallery-info-box-wrap .arrow_next:hover .font-icon {
  color: #ffffff;
}

#back-to-top.layout-border,
#back-to-top.layout-border-header-top {
  right: 50px;
  bottom: 50px;
}
.layout-border .fixed-sidebar-page #right-sidebar.active-fixed {
    right: 30px;
}
body.header-transparent.admin-bar .layout-border #header #header-inner-wrap.no-transparent.top-animate, 
body.sticky-header.admin-bar .layout-border #header #header-inner-wrap.no-transparent.top-animate {
  top: 62px;
}
body.header-transparent .layout-border #header #header-inner-wrap.no-transparent.top-animate, 
body.sticky-header .layout-border #header #header-inner-wrap.no-transparent.top-animate {
  top: 30px;
}
body.header-transparent.admin-bar .layout-border.layout-border-header-top #header #header-inner-wrap.no-transparent.top-animate, 
body.sticky-header.admin-bar .layout-border.layout-border-header-top #header #header-inner-wrap.no-transparent.top-animate {
  top: 32px;
  z-index: 15;
}
body.header-transparent .layout-border.layout-border-header-top #header #header-inner-wrap.no-transparent.top-animate, 
body.sticky-header .layout-border.layout-border-header-top #header #header-inner-wrap.no-transparent.top-animate {
  top: 0px;
  z-index: 15;
}
body.header-transparent .layout-border #header #header-inner-wrap.no-transparent #header-wrap, 
body.sticky-header .layout-border #header #header-inner-wrap.no-transparent #header-wrap {
  margin: 0px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.mfp-content.layout-border img {
  padding: 70px 0px 70px 0px;
}
body.admin-bar .mfp-content.layout-border img {
  padding: 102px 0px 70px 0px;
}
.mfp-content.layout-border .mfp-bottom-bar {
  margin-top: -60px;
}
body .mfp-content.layout-border .mfp-close {
  top: 30px;
}
body.admin-bar .mfp-content.layout-border .mfp-close {
  top: 62px;
}
pre {
    background-image: -webkit-repeating-linear-gradient(top, #ffffff 0px, #ffffff 30px, #efefef 24px, #efefef 56px);
    background-image: -moz-repeating-linear-gradient(top, #ffffff 0px, #ffffff 30px, #efefef 24px, #efefef 56px);
    background-image: -ms-repeating-linear-gradient(top, #ffffff 0px, #ffffff 30px, #efefef 24px, #efefef 56px);
    background-image: -o-repeating-linear-gradient(top, #ffffff 0px, #ffffff 30px, #efefef 24px, #efefef 56px);
    background-image: repeating-linear-gradient(top, #ffffff 0px, #ffffff 30px, #efefef 24px, #efefef 56px);
    display: block;
    line-height: 28px;
    margin-bottom: 50px;
    overflow: auto;
    padding: 0px 10px;
    border:1px solid #eeeeee;
}

@media only screen and (max-width : 767px ) {
    #hero-section h1 , 
    .full-screen-section-wrap h1 {
      font-size: 30px;
      line-height: 40px;
    }
    #hero-section h2,
    .full-screen-section-wrap h2 { 
      font-size: 25px;
      line-height: 35px;
    }
    #hero-section h4,
    .full-screen-section-wrap h4 {
      font-size: 16px;
      line-height: 30px;
    }
    #hero-section h5,
    .full-screen-section-wrap h5 {
      font-size: 16px;
      line-height: 30px;
    }    
}
.loader-style1-double-bounce1, .loader-style1-double-bounce2,
.loader-style2-wrap,
.loader-style3-wrap > div,
.loader-style5-wrap .dot1, .loader-style5-wrap .dot2,
#nprogress .bar {
  background: #a58f60 !important; 
}
.loader-style4-wrap {
    border-top: 7px solid rgba(165, 143, 96 , 0.3);
  border-right: 7px solid rgba(165, 143, 96 , 0.3);
  border-bottom: 7px solid rgba(165, 143, 96 , 0.3);
  border-left-color: #a58f60; 
}

#nprogress .spinner-icon {
  border-top-color: #a58f60 !important; 
  border-left-color: #a58f60 !important; 
}
#nprogress .peg {
  box-shadow: 0 0 10px #a58f60, 0 0 5px #a58f60 !important;
}
.single-page-version #navigation .current_page_item a,
.single-page-version #navigation .sub-menu .current-menu-item > a,
.single-page-version #navigation .children .current-menu-item > a {
  color: inherit !important;
}

.style1 #navigation,
.style3 #navigation,
.style5 #navigation, 
#header-controls-left,
#header-controls-right,
#header-wrap,
.mobile-nav-controller-wrap,
#left-header-mobile .header-cart-controls,
.style6 #navigation-left-side,
.style6 #navigation-right-side,
.overlay-menu-close {
	line-height: 92px;
}
body.header-transparent #header-wrap #navigation,
body.header-transparent #header-wrap #navigation-left-side,
body.header-transparent #header-wrap #navigation-right-side,
body.header-transparent #header-inner-wrap .header-controls, 
body.header-transparent #header-inner-wrap .mobile-nav-controller-wrap,
body.header-transparent .overlay-menu-close {
	line-height: 100px;
}
body #header-inner-wrap.top-animate #navigation,
body #header-inner-wrap.top-animate #navigation-left-side,
body #header-inner-wrap.top-animate #navigation-right-side,
body #header-inner-wrap.top-animate .header-controls,
body #header-inner-wrap.top-animate #header-wrap,
body #header-inner-wrap.top-animate #header-controls-right {
	line-height: 92px;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .style1 #navigation,
  .style3 #navigation,
  .style5 #navigation, 
  #header-controls-left,
  #header-controls-right,
  #header-wrap,
  .mobile-nav-controller-wrap,
  #left-header-mobile .header-cart-controls,
  .style6 #navigation-left-side,
  .style6 #navigation-right-side,
  .overlay-menu-close {
     
    max-height: 100%;
  }
  .logo {
      }
}
@media only screen and (max-width: 767px) {
  .style1 #navigation,
  .style3 #navigation,
  .style5 #navigation, 
  #header-controls-left,
  #header-controls-right,
  #header-wrap,
  .mobile-nav-controller-wrap,
  #left-header-mobile .header-cart-controls,
  .style6 #navigation-left-side,
  .style6 #navigation-right-side,
  .overlay-menu-close {
        max-height: 100%;

  }
  .logo {
      }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .style1 #navigation,
  .style3 #navigation,
  .style5 #navigation, 
  #header-controls-left,
  #header-controls-right,
  #header-wrap,
  .mobile-nav-controller-wrap,
  #left-header-mobile .header-cart-controls,
  .style6 #navigation-left-side,
  .style6 #navigation-right-side,
  .overlay-menu-close {
        max-height: 100%;

  }
}
/*  Optiopn Panel Css */
.rtb-booking-form input { max-width:99% !important; }
@media only screen and (max-width: 767px) {
.header-code-widgets { display: none; }
}

#bbpress-forums li.bbp-body ul.forum, 
#bbpress-forums li.bbp-body ul.topic {
  border-top: 1px solid #eeeeee;
}
#bbpress-forums ul.bbp-lead-topic, #bbpress-forums ul.bbp-topics, #bbpress-forums ul.bbp-forums, #bbpress-forums ul.bbp-replies, #bbpress-forums ul.bbp-search-results {
  border: 1px solid #eeeeee;
}
#bbpress-forums li.bbp-header, 
#bbpress-forums li.bbp-footer,
.menu-card-item.highlight-menu-item {
  background: #efefef;
}
a.bbp-forum-title,
#bbpress-forums fieldset.bbp-form label,
.bbp-topic-title a.bbp-topic-permalink {
  font:  400 15px "Montserrat","Open Sans","Arial",sans-serif; 
  color: #222222;
  line-height: 32px;
  letter-spacing: 0px;
  text-transform: uppercase; /* font: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit; */
}
#bbpress-forums ul.forum-titles li,
#bbpress-forums ul.bbp-replies li.bbp-header {
  font:  400 15px "Montserrat","Open Sans","Arial",sans-serif; 
  color: #222222;
  line-height: 32px;
  letter-spacing: 0px;
  text-transform: uppercase;  line-height: inherit;
  letter-spacing: inherit;
  text-transform: uppercase;
  font-size: inherit;
}
#bbpress-forums .topic .bbp-topic-meta a, 
.bbp-forum-freshness a,
.bbp-topic-freshness a,
.bbp-header .bbp-reply-content a,
.bbp-topic-tags a,
.bbp-breadcrumb a,
.bbp-forums-list a {
  color: #222222;
}
#bbpress-forums .topic .bbp-topic-meta a:hover,
.bbp-forum-freshness a:hover,
.bbp-topic-freshness a:hover,
.bbp-header .bbp-reply-content a:hover,
.bbp-topic-tags a:hover,
.bbp-breadcrumb a:hover,
.bbp-forums-list a:hover {
  color: #a58f60;
}
div.bbp-reply-header,
.bar-style-related-posts-list,
.menu-card-item {
  border-color: #eeeeee;
}

/*Event On Plugin*/

.ajde_evcal_calendar .calendar_header p, .eventon_events_list .eventon_list_event .evcal_cblock {
    font-family: Kaushan Script !important;
}
.eventon_events_list .eventon_list_event .evcal_desc span.evcal_desc2, .evo_pop_body .evcal_desc span.evcal_desc2 {
  font-family: Montserrat !important;
  font-size: 14px !important;
  text-transform: none;
}
.eventon_events_list .eventon_list_event .evcal_desc span.evcal_event_subtitle, .evo_pop_body .evcal_desc span.evcal_event_subtitle,
.evcal_evdata_row .evcal_evdata_cell p, #evcal_list .eventon_list_event p.no_events {
  text-transform: none !important;
  font-family: Lora !important;
  font-size: inherit !important;
}
#evcal_list .eventon_list_event .evcal_desc span.evcal_event_title, .eventon_events_list .evcal_event_subtitle {
  padding-bottom: 10px !important;
}
.eventon_events_list .eventon_list_event .evcal_desc, .evo_pop_body .evcal_desc, #page-content p.evcal_desc {
  padding-left: 100px !important;
}
.evcal_evdata_row {
  background: #efefef !important;
}
.eventon_events_list .eventon_list_event .event_description {
  background: #efefef !important;
  border-color: #eeeeee !important;
}
.bordr,
#evcal_list .bordb {
  border-color: #eeeeee !important; 
}
.evcal_evdata_row .evcal_evdata_cell h3 {
  margin-bottom: 10px !important;
}